/* Home Page (HomePage.tsx) */
.homeContentCon {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 70vw;
}
.titleAndSort {
   position: relative;
   display: flex;
   align-items: center;
   width: clamp(310px, 90%, 1150px);
   justify-content: center;
   gap: 20px;
}
.titleAndSort h2 {
   text-align: center;
}
.titleAndSort select {
   position: absolute;
   right: 0; /* push to far right */
}

/* Restaurants cards */
.restaurantsCardsCon {
   padding: 15px 24px;
   /* This means: at least 300px, at most 1300px, but ideally 90% of the parent width. */
   width: clamp(300px, 90%, 1100px);
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 20px;
   margin-top: 15px;
}
.leftRestaurantsContentCon {
   display: flex;
   height: 100%;
   flex-direction: column;
   gap: 4px;
   flex: 2;
}
.rankName {
   display: flex;
   align-items: center;
   gap: 7px;
}
.rankName span {
   font-size: 2.1rem;
   font-weight: 800;
}
.restDesc {
   font-size: 1.1rem;
   flex-wrap: wrap;
   margin-bottom: 8px;
}
.restLabels div {
   background-color: goldenrod;
   border-radius: 12px;
   display: inline-flex;
   padding: 6px 8px;
   font-size: 0.9rem;
   font-weight: 600;
   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.651);
   box-sizing: border-box;
   margin-right: 10px;
}
.rightRestaurantsContentCon {
   display: flex;
   height: 100%;
   flex-direction: column;
   gap: 20px;
   flex: 1;
}
.restaurant_logo {
   width: 160px;
   display: flex;
   align-self: flex-end;
}
.restaurant_logo img {
   width: 100%;
}

.reviewCommentsCon {
   margin-left: 12px;
   display: flex;
   align-items: flex-end;
   gap: 8px;
   flex: 1;
}
.reviewCommentsIcon {
   width: 48px;
   cursor: pointer;
   filter: drop-shadow(0 0 5px rgba(26, 26, 26, 0.856));
   transition: all 0.2s ease-in-out;
}
.reviewCommentsIcon:hover {
   filter: drop-shadow(0 0 10px rgba(26, 26, 26, 0.856));
}

.reviewFormCon {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.8rem;
   margin-top: 0.8rem;
}
.reviewFormCon textarea {
   width: 75%;
   height: 6rem;
   border: gray 1px solid;
   padding: 4px 8px;
   border-radius: 8px;
   font-weight: 700;
   font-size: 1.1rem;
}
.reviewFormCon button {
   cursor: pointer;
   font-weight: 800;
   font-size: 1.06rem;
   padding: 4px 10px;
   border-radius: 8px;
}
.charReviewLimitW {
   color: red;
}
.charReviewLimitW,
.charReviewLimitN {
   font-weight: 600;
   font-size: 1.07rem;
}
.disabledBtn {
   pointer-events: none;
   cursor: default;
}

.ratingCon {
   display: flex;
   justify-content: end;
}
.ratingDetails {
   flex-direction: column;
   align-items: center;
   display: flex;
   gap: 4px;
}
.starsCon {
   display: flex;
   gap: 3px;
}
.filledStar {
   width: 32px;
   cursor: pointer;
   filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.322));
   transition: all 0.1s ease-in-out;
   color: #ffc107;
}
.filledStar:hover {
   transform: scale(1.1);
}
.unfilledStar {
   width: 32px;
   cursor: pointer;
   filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.322));
   transition: all 0.1s ease-in-out;
}
.unfilledStar:hover {
   transform: scale(1.1);
}
.ratingInfo {
   display: flex;
   gap: 8px;
}

/* *Profile Section */
.profileSection {
   display: flex;
   width: 50vw;
   gap: 44px;
}
.profileLeftSection {
   display: flex;
   flex-shrink: 0;
}
.profileNavCon {
   display: inline-flex;
   flex-shrink: 0;
}
.profileNavCon ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 0;
   margin: 0;
}
.innerProfileNavDefault,
.innerProfileNavAct {
   display: block;
   width: 130px;
   text-decoration: none;
   background-color: purple;
   color: #525252;
   padding: 10px 50px 10px 10px;
   transition: all 0.2s ease-in-out;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.329);
}
.innerProfileNavDefault:hover {
   padding-right: 80px;
}
.innerProfileNavAct {
   color: white;
   padding-right: 80px;
   box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.603);
}
.profileRightSection {
   display: flex;
   flex: 1;
}

/* profile views history */
.eachRateHistory {
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: gray;
   margin-top: 10px;
   border-radius: 8px;
   width: 100%;
   padding: 10px 14px;
}
.topHistoryDetails {
   display: flex;
}
.resLogoCon {
   display: flex;
   flex: 2;
}
.timeHistoryCon {
   display: flex;
   flex: 1;
   justify-content: flex-end;
}
.votesHistoryCon {
   width: 100%;
}
.bottomHistoryDetails {
   display: flex;
   align-items: center;
}
.resturVoteInfo {
   display: flex;
   flex-direction: column;
   flex: 1;
}
.resturReviewCommentCon {
   display: flex;
   flex-direction: column;
   flex: 3;
   gap: 0.6rem;
   font-size: 1.1rem;
   font-weight: 700;
   align-items: center;
}
.resturReviewCommentCon p {
   margin-bottom: 0;
   margin-top: 0;
   font-size: 1.0rem;
   font-weight: 400;
}
.historyLogo {
   width: 120px;
}
/*. Responsive design */

/* (mobile size) */
@media (width <= 480px) {
   .restaurantsCardsCon {
      flex-direction: column;
   }
}
@media (width <= 850px) {
   .titleAndSort {
      justify-content: space-around;
   }
   .titleAndSort select {
      position: static;
   }
   .unfilledStar,
   .filledStar {
      width: 24px;
   }
   .ratingCon {
      justify-content: center;
   }
}
